<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center uppercase font-black">
      Recent Purchases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="uppercase text-center">Pull to refresh</p>
  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="getTransactions($event)" pullMin="100" pullMax="200" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-text-center">

    <ion-row class="header-row">
      <ion-col>
        <ion-text>Date</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Meter</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Amount</ion-text>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let transaction of transactions">
      <ion-col>
        <ion-text>
            {{transaction.transaction_date | date}}
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            {{transaction.meter_number}}
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            KES {{transaction.amount}}
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
